*
!.gitignore
!changelog.md
!config.yml
!README.md
!readme.md
!run.bat
!run.ps1
!server.py
!version.yml
!static/
!static/**
freezer.db
webuser_auth.db
server.log
*.pyc
__pycache__/
*.7z
prereset-backup-*/